@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Righteous", sans-serif;
    font-style: normal;
    transition: all 0.3s ease;
}

body {
    background: #1C1C1C;
}

.nav_bar {
    width: 350px;
    display: flex;
    flex-direction: column;
    background: #171717;
    height: 100%;
    padding: 1.2rem;
    margin-right: 100px;
    transition: all 0.3s ease;
}

.nav_bar_sub, .main_body_sub{
    color: #4F4F4F;
    font-weight: 200;
}
.nav_bar_title, .main_body_title {
    color: #fff;
    font-weight: 300;
    font-size: 40px;
}
.main_body_title {
    margin-top: 30px;
    font-size: 60px;
}

.main_body {
    width: 100%;
    margin-top: 110px;
}

.page {
    display: flex;
    height: 100vh;
}

.project_list {
    margin-top: 30px;
    display: flex;
    gap: 2rem;
}

.project_block {
    width: 250px;
    border-radius: 30px;
    overflow: hidden;
    border: solid #5B5B5B 1px;
    position: relative;
    cursor: pointer;
    background: #3c3c3c;
    transition: all 0.3s ease;
    height: 450px;
}

.black_gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, #0000003f, rgb(0, 0, 0));
    transition: all 0.3s ease;
    opacity: 1;
    z-index: 1;
}


.project_block:hover .black_gradient {
    opacity: 0.9;
}

.image_background {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    z-index: 0;
    transform: scale(150%);
}

.fa-eye1 {
    position: absolute;
    color: #fff;
    z-index:21;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}
.project_block:hover .fa-eye2 {
    opacity: 1;
}
.project_block:hover .fa-eye1 {
    opacity: 0;
}

.fa-eye2 {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.fa-eye2 {
    position: absolute;
    color: #fff;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}

.fa-heart1 {
    position: absolute;
    color: #fff;
    z-index: 2;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 30px;
    transition: all 0.1s ease-out;
    opacity: 0;
}
.fa-heart2 {
    position: absolute;
    color: #fff;
    z-index: 3;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 30px;
    transition: all 0.1s ease-out;
    opacity: 1;
}

.fa-heart2:hover + .fa-heart1 {
    opacity: 1;
}
.fa-heart2:active {
    font-size: 25px;
}
.fa-heart2:active + .fa-heart1 {
    font-size: 25px;
}

.fa-eye-slash1 {
    color: #fff;
    z-index: 2;
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}

.coming_soon_block {
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    color: #fff;
    z-index: 2;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: min-content;
}

.coming_soon_title {
    margin-top: 5px;
    font-weight: 100;
    font-size: 25px;
}

.project_link {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
}

.nav_bar_progress_bar_title {
    color: #fff;
    font-weight: 200;
    margin-top: auto;
    margin-bottom: 15px;
}

.progress_bar {
    width: 100%;
    height: 40px;
    border-radius: 12px;
    background: #1C1C1C;
    display: flex;
    align-items: center;
}

.progress_bar_fill {
    background: #fff;
    height: 100%;
    width: 15%;
    border-radius: 12px 0px 0px 12px;
    margin-right: 10px;
}

.progress_percentage {
    color: #fff;
    font-weight: 100;
    font-size: 22px;
}

.project_title {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff2d;
    font-size: 40px;
    font-weight: 200;
    transition: all 0.3s ease;
    z-index: 2;
    font-size: 35px;
}

.project_block:hover .project_title {
    color: #ffffff;
}

@media only screen and (max-width: 1486px) {
    .nav_bar {
        max-width: 260px;
    }
}
@media only screen and (max-width: 1300px) {
    .nav_bar {
        max-width: 250px;
    }
    .nav_bar_title {
        font-size: 32px;
    }
    .project_block {
        width: 210px;
        height: 320px;
    }
    .project_title {
        top: 80%;
    }
}
@media only screen and (max-width: 852px) {
    .nav_bar {
        max-width: 250px;
    }
    .nav_bar_title {
        font-size: 28px;
    }
    .nav_bar {
        margin-right: 50px;
    }
    .project_list {
        flex-flow: column;
        height: 100%;
    }
    .project_block {
        width: 70vw;
        height: 200px;
    }
    .image_background {
        object-fit: cover;
        transform: scale(210%);
    }
    .nav_bar {
        display: none;
    }
    .main_body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
    .project_title {
        top: 70%;
    }

    .fa-eye2 {
        top: 40%;
    }
    .fa-eye1 {
        top: 40%;
    }
}
