@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Righteous", sans-serif;
    font-style: normal;
    transition: all 0.3s ease;
}

body {
    background: #1C1C1C;
    background-image: url(BackgroundImage.png);
    background-size: cover;
}

.nav_bar {
    width: 100vw;
    display: flex;
    height: 100px;
    padding: 1.2rem;
    margin-right: 100px;
    position: fixed;
    padding-left: 250px;
    align-items: center;
    padding-right: 200px;
}

.nav_title_1 {
    color: #fff;
    font-weight: 300;
    display: block;
}

.nav_title_2 {
    display: none;
    color: #fff;
    font-weight: 300;
}

.nav_link_group {
    display: flex;
    margin-left: auto;
    gap: 2rem;
}

.nav_link {
    text-decoration: none;
    color: #fff;
    font-weight: 100;
    font-size: 20px;
}

.nav_link .blue_link:hover {
    color: #5d80ff;
}

.nav_link:hover {
    color: #b0b0b0;
}

.blue_link {
    color: #3F69FF;
}

.action_buttons {
    margin-top: 80px;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.hire_button {
    background: #3F69FF;
    border-radius: 12px;
    padding: 15px 35px;
}

.hire_button, .projects_button{
    color: #fff;
    font-weight: 300;
    font-size: 22px;
    text-decoration: none;
}

.main_body_sub{
    color: #4F4F4F;
    font-weight: 200;
}
.main_body_title {
    color: #fff;
    font-weight: 300;
    margin-top: 30px;
    font-size: 60px;
}
.main_body_title_no_m {
    font-size: 80px;
    color: #fff;
    font-weight: 300;
}

.top_margin {
    margin-top: 10px;
}

.main_body {
    width: 100%;
    margin-top: 180px;
    margin-left: 250px;
}

.main_body_home {
    position: relative;
    display: flex;
    width: 100%;
}

.main_body_section_1 {
    padding-top: 300px;
    padding-left: 250px;
    width: 100%;
    position: relative;
} 

.introduction_text {
    position: relative;
    width: max-content;
}

.name_text {
    position: relative;
    width: max-content;
}

.main_body_section_2 {
    display: flex;
    width: 100%;
    height: 100%;
    padding-right: 150px;
    padding-top: 200px;
}
.main_body_section_2 img{
    margin-left: auto;
    height: 600px;
}

.effect_1 {
    position: absolute;
    left: -30px;
    top: -30px;
}

.effect_2 {
    position: absolute;
    right: -20px;
    top: 80px;
}

.page {
    display: flex;
    height: 100vh;
    width: 100%;
}

.project_list {
    margin-top: 30px;
    display: flex;
    gap: 2rem;
}

.project_block {
    width: 250px;
    border-radius: 30px;
    overflow: hidden;
    border: solid #5B5B5B 1px;
    position: relative;
    cursor: pointer;
    background: #3c3c3c;
    transition: all 0.3s ease;
    height: 450px;
}

.black_gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, #0000007a, rgb(0, 0, 0));
    transition: all 0.3s ease;
    opacity: 1;
    z-index: 1;
}


.project_block:hover .black_gradient {
    opacity: 0.9;
}

.image_background {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    z-index: 0;
    transform: scale(175%);
}

.fa-eye1 {
    position: absolute;
    color: #fff;
    z-index:21;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}
.project_block:hover .fa-eye2 {
    opacity: 1;
}
.project_block:hover .fa-eye1 {
    opacity: 0;
}

.fa-eye2 {
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.fa-eye2 {
    position: absolute;
    color: #fff;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}

.fa-heart1 {
    position: absolute;
    color: #fff;
    z-index: 2;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 30px;
    transition: all 0.1s ease-out;
    opacity: 0;
}
.fa-heart2 {
    position: absolute;
    color: #fff;
    z-index: 3;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 30px;
    transition: all 0.1s ease-out;
    opacity: 1;
}

.fa-heart2:hover + .fa-heart1 {
    opacity: 1;
}
.fa-heart2:active {
    font-size: 25px;
}
.fa-heart2:active + .fa-heart1 {
    font-size: 25px;
}

.fa-eye-slash1 {
    color: #fff;
    z-index: 2;
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}

.coming_soon_block {
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    color: #fff;
    z-index: 2;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: min-content;
}

.coming_soon_title {
    margin-top: 5px;
    font-weight: 100;
    font-size: 25px;
    text-align: center;
}

.project_link {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
}

.nav_bar_progress_bar_title {
    color: #fff;
    font-weight: 200;
    margin-top: auto;
    margin-bottom: 15px;
}

.progress_bar {
    width: 100%;
    height: 40px;
    border-radius: 12px;
    background: #1C1C1C;
    display: flex;
    align-items: center;
}

.progress_bar_fill {
    background: #fff;
    height: 100%;
    width: 15%;
    border-radius: 12px 0px 0px 12px;
    margin-right: 10px;
}

.progress_percentage {
    color: #fff;
    font-weight: 100;
    font-size: 22px;
}

.project_title {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff2d;
    font-size: 40px;
    font-weight: 200;
    transition: all 0.3s ease;
    z-index: 2;
    font-size: 35px;
}

.project_block:hover .project_title {
    color: #ffffff;
}

.site_version {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #fff;
    font-weight: 100;
    font-size: 19px;
    color: #4F4F4F;
}

.nav_panel_group {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav_block {
    display: flex;
    gap: 10px;
    color: #fff;
    align-items: center;
    background: #252525;
    padding: 15px;
    border-radius: 12px;
    position: relative;
}
.nav_block:hover {
    color: #252525;
    background: #ffffff;
}


.nav-icon {
    font-size: 22px;
}


.white {
    color: #fff;
}

.blue {
    color: #3F69FF;
}

.percentage_line {
    height: 96vh;
    width: 8px;
    background: #2D2D2D;
    position: absolute;
    left: 50px;
    top: 18px;
    z-index: 3;
    border-radius: 9999px;
}
.percentage_line_white {
    height: 14vh;
    width: 8px;
    background: #fff;
    position: absolute;
    left: 50px;
    top: 18px;
    z-index: 3;
    border-radius: 9999px;
}

.percentage {
    position: absolute;
    top: 150px;
    left: -13px;
    color: #fff;
    font-weight: 100;
    font-size: 25px;
}

.percentage_text {
    position: absolute;
    transform: rotateZ(-90deg);
    left: -91px;
    top: 50vh;
    color: #2D2D2D;
    font-weight: 100;
    font-size: 30px;
}

.contact_group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 30px;
}

.contact_block {
    width: max-content;
    display: flex;
    align-items: center;
    color: #fff;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 20px;
    background: #3F69FF;
    position: relative;
}
.contact_block:hover {
    background: #557aff;
}

.contact_text {
    font-weight: 100;
    font-size: 30px;
}

.contact_button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
}

.contact-icon {
    font-size: 25px;
}




.information_box_group {
    margin-top: 30px;
    cursor: pointer;
    display: flex;
    gap: 24px;
    width: max-content;
}

.information_column_1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.information_box_group:hover .red_box {
    transform: rotate(0);
    box-shadow: none;
}
.information_box_group:hover .blue_box {
    transform: rotate(0);
    box-shadow: none;
}
.information_box_group:hover .green_box {
    transform: rotate(0);
    box-shadow: none;
}
.information_box_group:hover .yellow_box {
    transform: rotate(0);
    box-shadow: none;
}
.information_box_group:hover .purple_box {
    transform: rotate(0);
    box-shadow: none;
}

.information_box {
    width: 290px;
    color: #fff;
    padding: 1rem 3rem;
    border-radius: 11px;
    text-align: center;
    transition: all 0.8s ease;
}

.red_box {
    background: #DB5656;
    box-shadow: 0px 0px 37px 0px #DB5656;
    transform: rotate(-5deg) translateX(-20px);
}

.blue_box {
    background: #7888D8;
    box-shadow: 0px 0px 37px 0px #7888D8;
    transform: rotate(8deg) translateY(-20px) translateX(30px);
}
.green_box {
    background: #88B893;
    box-shadow: 0px 0px 37px 0px #88B893;
    transform: rotate(12deg) translateY(-20px);
}
.yellow_box {
    background: #DAAD6A;
    box-shadow: 0px 0px 37px 0px #DAAD6A;
    transform: rotate(-15deg) translateY(20px);
}
.purple_box {
    background: #C692D8;
    box-shadow: 0px 0px 37px 0px #C692D8;
    transform: rotate(-12deg) translateY(2px);
    width: 600px;
}


.information_sub {
    font-weight: 10;
    margin-bottom: 10px;
    font-size: 25px;
}
.information_title {
    font-weight: 10;
    margin-bottom: 10px;
    font-size: 32px;
}









@media only screen and (max-width: 1486px) {
    .nav_bar {
        padding-right: 80px;
        padding-left: 140px;
    }
    .main_body_section_2 {
        padding-right: 80px;
    }
    .main_body_section_1 {
        padding-left: 140px;
    }
}
@media only screen and (max-width: 1300px) {
    .nav_bar {
        max-width: 250px;
    }
    .nav_bar_title {
        font-size: 32px;
    }
    .project_block {
        width: 210px;
        height: 320px;
    }
    .project_title {
        top: 80%;
    }
    .main_body_section_2 img{
        display: none;
    }
    .nav_link_group {
        display: none;
    }

    .nav_title_1 {
        display: none;
    }
    .nav_title_2 {
        display: block
    }
}
@media only screen and (max-width: 852px) {
    .main_body_sub {
        font-size: 1.2rem;
    }
    .main_body_title_no_m {
        font-size: 3rem;
    }

    .percentage_group {
        display: none;
    }

    .nav_bar {
        padding-right: 20px;
        padding-left: 40px;
    }
    .main_body_section_1 {
        padding-left: 40px;
    }

    .effect_1 {
        display: none;
    }
    .effect_2 {
        display: none;
    }

    .action_buttons {
        width: 100%;
    }
    .main_body_section_2 {
        display: none;
    }


}
